body {
    font-family: Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #767676);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
    font-size: 46px;
}

.part-option {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 2px solid transparent;
    padding: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

    .part-option.selected {
        border: 2px solid #ffd800;
    }

    .part-option img {
        width: 100px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }

    .part-option:hover {
        transform: translateY(-5px);
    }



#bike-display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

    #bike-display img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 900px;
        z-index: 1;
        pointer-events: none;
    }


.part-selector-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 30px;
}

    .part-selector-bar label {
        color: white;
    }

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ff0000;
    gap: 30px;
}

.bike-part-select {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.next-button button {
    height: 75px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-color: #2e2e2e;
    color: #ffffff;
}

.header-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .header-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .header-button:active {
        transform: translateY(1px);
    }

.back-button {
    background-color: #e9ecf0;
    color: #000000;
    border-radius: 5px;
}

.save-button button {
    height: 75px;
    width: 200px;
    border-color: #2e2e2e;
    color: #ffffff;
}

.return-button{
    height: 75px;
    width: 200px;
    border-color: #2e2e2e;
    color: #ffffff;
}

button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

    button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    button:active {
        transform: translateY(1px);
    }



label {
    font-weight: bold;
}

select {
    padding: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
}

.part-description {
    font-size: 0.85rem;
    color: #909090;
    margin-top: 4px;
}

#total-price {
    color: #ffffff;
    font-size: 18px;
}

.part-more-button button {
    color: black;
    font-size: 0.6rem;
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer; 
}

.basket {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: 0.5s all;
}

    .basket:hover {
        color: #c4c4c4;
        transform: translateY(-5px);
    }




