body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffffff, #767676);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 10px 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1000;
}


.login-signup {
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 600px;
    width: 90%;
}


.selection-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    opacity: 0.9;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginsignup-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border: 2px solid white;*/
    border-radius: 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .loginsignup-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .loginsignup-button:active {
        transform: translateY(1px);
    }

.login-button {
    background-color: #1859c9;
    color: #ffffff;
}

.signup-button {
    background-color: #e9ecf0;
    color: #000000;
}

.view-account-button {
    background-color: #e9ecf0;
    color: #000000;
    display: none;
}

.log-out-button {
    background-color: #a50000;
    color: #ffffff;
    display: none;
}

.bike-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .bike-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .bike-button:active {
        transform: translateY(1px);
    }

.dh-button {
    border-color: #2e2e2e;
    color: #ffffff;
}

.enduro-button {
    border-color: #2e2e2e;
    color: #ffffff;
}

.dj-button {
    border-color: #2e2e2e;
    color: #ffffff;
}

.bike-cards-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70%;
    margin: 30px auto 0 auto;
    margin-top: 30px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}


.bike-card {
    min-width: 300px;
    flex-shrink: 0;
    transition: transform 0.5s ease;
}

#bike-display {
    position: relative;
    width: 350px;
    height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.8s ease;
}


    #bike-display img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        pointer-events: none;
    }
